pandas==3.0.2
numpy==2.4.4
matplotlib==3.10.9
scikit-learn==1.8.0
statsmodels==0.14.6
arch==8.0.0
tensorflow==2.21.0
scipy==1.17.1
pyarrow==24.0.0
openpyxl==3.1.5
requests==2.32.5
joblib==1.5.3
pytest==9.0.3
